/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
 
body {
    line-height: 1;
}
 
ol, ul {
    list-style: none;
}
 
blockquote, q {
    quotes: none;
}
 
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* remember to define focus styles! */
:focus {
    outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
 
del {
    text-decoration: line-through;
}
 
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/* START */

BODY {
	background-repeat: repeat;
	background-image: url(../images/noise.png);
	background-color: #e8e8e8;
	color: black;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#wraper {
	display: none;
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#dropZone {
	z-index: 3;
	float: left;
	top: 0px;
	background-position: center center;
	padding-top: 150px;
	background-repeat: no-repeat;

	border-color: #7f7f7f;
	border-width: 8px;
	border-style: dashed;
	text-align: center;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	position: absolute;
	height: 362px;
	width: 512px;
	color: #3399ff;
	-webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px
        
}
#zone {
	z-index: 0;
	border-width: 0px;
	background-position: center center;
	background-repeat: no-repeat;

	border-color: #7f7f7f;
	border-style: dashed;
	text-align: center;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	margin-left: -256px;
	left: 50%;
	top: 70px;
	position: relative;
	height: 512px;
	width: 512px;
	color: #3399ff;
	-webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px
        
}
#iconz {
	display: none;
	float: left;
	top: 0px;
	z-index: 5;
	background-position: center center;

	border-color: #7f7f7f;
	border-style: dashed;
	text-align: center;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 48px;
	position: absolute;
	height: 512px;
	width: 512px;
	color: #3399ff;
	-webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px
        
}
p {
	font-style: italic;
	color: #999999;
	font-size: 14px;
}
#dropZone.hover {
	border-color: #0066ff;
	border-width: 8px;
	border-style: dashed;
}
#dropZone.error {
	color: #ff0013;
	border-color: #d50000;
	border-width: 8px;
	border-style: dashed;
}
#dropZone.drop {
	border-color: #66cc00;
	border-width: 8px;
	border-style: dashed;
}

#uploadButton {
	
	padding-top: 6px;
	
	height: 27px;
	
}

#tryagain {
	clear: left;
	float: left;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 6px;
	color: white;
	text-align: center;
	margin-top: 10px;
	margin-left: -150px;
	position: relative;
	left: 50%;
	width: 300px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	background-image: linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(0,138,230)),
		color-stop(1, rgb(0,166,255))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #639eff;
	overflow:hidden;
	height: 20px;
	cursor:pointer;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 1);        
	box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 1);

}

#download {
	clear: left;
	float: left;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 6px;
	color: white;
	text-align: center;
	margin-top: 10px;
	margin-left: -150px;
	position: relative;
	left: 50%;
	width: 300px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	background-image: linear-gradient(bottom, rgb(0,89,12) 2%, rgb(0,158,0) 83%);
	background-image: linear-gradient(bottom, rgb(0,122,16) 2%, rgb(0,158,0) 83%);
	background-image: -o-linear-gradient(bottom, rgb(0,122,16) 2%, rgb(0,158,0) 83%);
	background-image: -moz-linear-gradient(bottom, rgb(0,122,16) 2%, rgb(0,158,0) 83%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,122,16) 2%, rgb(0,158,0) 83%);
	background-image: -ms-linear-gradient(bottom, rgb(0,122,16) 2%, rgb(0,158,0) 83%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.02, rgb(0,122,16)),
		color-stop(0.83, rgb(0,158,0))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #639eff;
	overflow:hidden;
	height: 20px;
	cursor:pointer;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 1);        
	box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 1);

}

#buttonBox:hover {
           
	border-color: white;
           
	border-width: 1px;
           
	border-style: dashed;
           
}

#tryagain:hover {
           
	border-color: white;
           
	border-width: 1px;
           
	border-style: dashed;
           
}

#download:hover {
           
	border-color: white;
           
	border-width: 1px;
           
	border-style: dashed;
           
}

div#uploadButton p {
	width: 300px;
	padding-top: 5px;
	text-align: center;
	position: absolute;
	color: white;
	z-index: 2;
}

#image {
	left: 0px;
	top: 0px;
	z-index: 999999;
	position: absolute;
	display: none;
}

#download_text {
	top: 100px;
	font-weight: bold;
	color: #347dff;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	width: 100%;
	text-align: center;
	font-size: 48px;
	float: left;
	position: relative;
}

a {
	color: #2f589d;
}

#buttonBox {
	color: white;
	text-align: center;
	padding: 0px;
	margin-top: 50px;
	margin-left: -150px;
	position: absolute;
	left: 50%;
	width: 300px;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
	background-image: linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,138,230) 7%, rgb(0,166,255) 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.07, rgb(0,138,230)),
		color-stop(1, rgb(0,166,255))
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #80a5fb;
	overflow:hidden;
	height: 27px;
	cursor:pointer;
	-webkit-box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 1);        
	box-shadow:  0px 1px 1px 0px rgba(0, 0, 0, 1);
}

#error {
	margin-left: -300px;
	left: 50%;
	width: 610px;
	margin-top: -420px;
	color: #c71465;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 48px;
	position: absolute;
}

#error a {
	font-style: italic;
	font-size: 30px;
	color: #089f07;
}

#error p {
	font-size: 20px;
}

